<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
      <!-- this should be the main unit we look for - the form will accept drag and drop-->
      <!-- if I'm nice I'll put a progress meter on the page. -->
      <add key="map_file" value="./map.dat"/>
      <add key="default_protocol" value=""/>  
      <add key="HostName" value=""/>
      <add key="UserName" value=""/>
      <add key="Password" value=""/>
      <add key="SshHostKeyFingerprint" value=""/>
      <add key="Destination" value=""/>
    
    </startup>
</configuration>